    <div class="col col-xs-12 col-md-4 ingredient">
      <%= ingredient.name %>
      <%= link_to "Delete", ingredient_path(ingredient.id), method: :delete, data: { confirm: 'Are you sure?' }, class: 'red' %>
    </div>
